/*homeSlide start*/
.homeSlide{
	overflow: hidden;
	position: relative;
}
.homeSlide .slide a{
	display: inline-block;
	text-indent: -99999px;
}
.homeSlide .constrollSlide {
	position: absolute;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.homeSlide .constrollSlide li {
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
.homeSlide .constrollSlide li.active{
	background-color: yellow;
}
.homeSlide .constrollSlide li + li {
	margin-left: 10px;
}

.homeSlide .slideBtn div{
	position: absolute;
	top: 50%;
	color: #fff;
	z-index: 9999;
	margin-top: -23px;
	cursor: pointer;
	-webkit-transition: color 0.5s ease-in-out;
	-o-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
}
.homeSlide .slideBtn div:hover{
	color: #ccc;
}
.homeSlide .slideBtn div .iconfont{
	font-size: 50px;
}
.homeSlide .slideBtn div.left {
	left: 10px;
}
.homeSlide .slideBtn div.right {
	right: 10px;
}
/*homeSlide end*/